/* .subscription-container {
    position: relative;
    width: 100%;
border-right: 1px solid var(--twitter-background);
    background: linear-gradient(to bottom, rgb(229, 248, 255), #fff,#fff);
    overflow-y: scroll;
    max-height: 100vh;
  }
  .subscription-container::-webkit-scrollbar {
    display: none;
  }
  
  .para-sub{
    text-align: center;
  }
  .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .subscription-content {
    max-width: 1000px;
    margin: auto;
   
  }
  .subscription-content h1{
    text-align: center;
  }
  
  .subscription-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .option h2{
    font-size: 25px;
    margin-top: 0;
  }
  .option {
    background: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 20px;

  }
  .option ul {
    list-style: none;
    padding: 0;
  }
  
  .option li {
    margin: 10px 0;
  }
  
   */
   .subscribe {
    border-right: 1px solid rgb(83, 85, 85);
    width: 100%;
    overflow-y: scroll;
    height: 95vh;
  
  }
  .subscribe::-webkit-scrollbar {
    display: none;
  }