.page{
flex:0.4;
border-right: 1px solid var(--twitter-background);
width: 240vw !important;
padding: 0 150px 0 150px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.pageTitle{
color: var(--twitter-color);
text-align: center;
font-size: 30px;
}
.profilePage{
    flex: 0.4;
    border-radius: 1px solid var(--twitter-background);
min-width: fit-content;
   overflow-y: scroll;
}
.profilePage::-webkit-scrollbar{
    display: none ;
}
.lang-btn{
    padding: 10px;
    margin: 5px 1px 10px 8px ; 
    width: 140px;
    border-radius: 5px;
    border: none;
    background-color: var(--twitter-color);
    color: white;
    font-size: 15px;
}
.language-input{
    border: 1px solid var(--twitter-background);
    width:100%;
}
.language_tweet{
    padding: 10px;
    margin: 8px 6px 10px 8px ; 
    width: 140px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
}
.language-container {
    padding: 20px;
}
.hindi-theme {
   background-color: rgb(240, 240, 240);
  }
.tamil-theme{
    background-color: rgb(224, 242, 241);
}
.spanish-theme{
    background-color: aliceblue;
}
.french-theme{
    background-color: rgb(230, 230, 250);
}
.portuguese-theme{
    background-color: rgb(255, 255, 224);
}
.bengali-theme{
    background-color:rgb(239, 255, 255);
}
